:root {
  // colors
  --global-primary-color-1: #ff1948;
  --global-primary-color-2: #ff5800;
  --global-primary-color-1-var1: #e5173e;
  --global-primary-color-1-var2: #cc1438;
  --global-primary-color-2-var1: #e54f00;
  --global-primary-color-2-var2: #cc4600;
  --global-secondary-color-1: #f0f3f8;
  --global-secondary-color-2: #fff6f2;
  --global-link-color: #0078cc;
  --global-body-color: #354052;
  --global-color-1: #ffffff;
  --global-color-2: #000000;
  --global-color-3: #777b83;
  --global-color-4: #a4a7ad;
  --global-color-5: #009a2d;
  --global-color-6: #d0011c;
  --global-color-7: #009a2c;
  --global-color-8: #d0021b;
  --global-color-9: #a9a6a9;
  --global-disabled-BgColor: #d2d3d6;
  --global-disabled-TextColor: #c4c4c4;
  --global-border-color: #d2dce1;
  --global-border-color-1: #d6dfed;
  --global-border-color-2: #626364;
  --global-common-bg-color: #eff1f7;
  --global-box-shadow-color: #26b8f7;
  --global-content-color: #1c2331;
  --global-background-color-1: #494f5a;
  --global-background-color-2: #f9fafc;
  --global-background-color-3: #fff5f1;
  --global-background-color-4: #0289ff;
  --global-background-color-5: #f7f9fb;
  --global-background-color-6: #fff6f1;
  // typography
  --global-body-FontFamily: "Poppins Regular";
  --global-body-FontFamily-medium: "Poppins Medium";
  --global-body-FontSize: 12px;
}
