// tooltip position
$tooltip-position-down: translateY(15px);
$tooltip-position-up: translateY(-10px);
$tooltip-position-right: translateX(10px);
$tooltip-position-left: translateX(10px);

//  tooltip color
$tooltip-background-color: gray;
$tooltip-color: white;
